* { 
    margin: auto;
    padding: auto;
}

body {
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    color: azure;
    font-family: "Poppins", sans-serif;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #FFE397;
    font-size: 20px;
    font-weight: 550;
}

nav ul {
    display: flex;
    justify-content: center;
    position: relative;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #ef62c5;
    margin: 0 23px;
}

nav ul li a:hover {
    text-decoration: none;
    color:#f893dd ;
    font-size: 1.2rem;

}
.left img {
    height: 75px;
    width: 150px;
}
nav ul li:hover:after {
    width: 130px;
    left: 0;
}

nav ul li:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #f893dd ;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

footer {
    background: #c2bffc;
    background-image: url("purplehaze.jpg");
    opacity: 0.8;

}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;

}

.footer ul {
    list-style: none;

}

.footer div {
    width: 223px;
}

.footer-rights {
    text-align:center;
    color: azure;
    padding: 12px 0;
}
.footer-fourth, .footer-third, .footer-second {
    color: azure;
}

.hero {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2.5rem;
    margin-left: 20px;
    margin-top: 20px;
}

.content {
    display: flex;
    align-items: center;
    height: 85vh;
    justify-content: center;
    padding-bottom: 2.5rem;
    position: relative;
}

.hero-main {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    padding-bottom: 2.5rem;
    position: relative;
}

.hero-text {
    display: flex;
    max-width: 50rem;
    flex-direction: column;
    padding-bottom: 2.5rem;
    position: relative;
}

.hero-text h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #8a18ccab;
}

.hero-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    line-height: 1.3;
    margin: 15px 0;

}

.hero-text p {
    font-size: 1.25rem;
    font-weight: 450;
    color: #8a18ccab;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;

}

.hero .hero-image img {
    margin-top: 20px;
    width: 500px;
    height: 500px;
    background-position: 50%;
    border: 3px solid white;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    position: relative;
    box-shadow: 0 0 35px #ef62c5;
    animation: ani123 8s ease-in-out infinite;
}

@keyframes ani123 {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.btn1 {
    margin: 20px 0;
    padding: 10px 15px;
    background-color: rgb(69, 171, 235);
    box-shadow: 0 0 15px rgb(69, 171, 235);
    color: white;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s;
}
.btn1 a {
text-decoration: none;
color: white;
font-family: "Mulish", sans-serif;
font-weight: bolder;
}

.btn1:hover {
    background-color: transparent;
    border: 2px solid #FFA4B6;
    border: 2px solid #1a9de3ab;
    font-size: larger;
}
.skills {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ec7fcb;
    background-color: #FFE397;
    border-radius: 20px;
    box-shadow: 8px -8px #ef62c5;
    margin-top: 30px;
    padding: 5px;
}
.tube {
    height: 70px;
    width: 110px;
    display: flex;
    margin: 15px;
}
.lib {
    height:70px ;
    width:150px ;
    display: flex;
    margin: 15px;
}
.one {
    background:  #c1bffc;
    border: 3px solid white;
    border-radius: 20px;
    width: 200px;
    display: flex;
    color: white;
    text-decoration: none;
}
.one:hover {
    width: 230px ;
    background-color: white;
    color: #ec7fcb;
    border: 5px solid  #ec7fcb;
}
a {
    text-decoration: none;
    color: white;
    position: relative;
    justify-content: center;
}
a:hover
{ color: #ec7fcb;}
.two {
    
    margin: 40px;
    display: flex;
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 1.3rem;
}
.three {
    display: flex;
    justify-content: center;

}
.four {
    display: flex;
    gap: 30px;
}
.list {
    display: flex ;
    justify-content: center;
}
.listone {
    display: flex;
    gap: 30px;
    
}
.sources {
  
  padding-bottom: 40px;
 
}
.credit {
    font-size: 2.6rem;
    padding: 20px;
    position: center;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    background-image: url(pink-background.jpg);
    opacity: 0.9;
}
.whole {
    background-image: url(pink-background.jpg);
    opacity: 0.8;
}
.website {
    
    margin: 40px;
    display: flex;
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 1.3rem;
    margin: 40px;
}

.skills p{
    border-right: 4px solid rgb(58, 163, 220);
    font-family: "Mulish", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-right: 6rem;
    padding-right: 2rem;
}
.skills ul{
    display: flex;
    align-items: center;
    gap: 3.5rem;
    list-style: none;
    margin-top: 12px;
}
.skills ul li img {
    width: 35px;
    height: auto;
    cursor: pointer;
}
@media (max-width:900px){
    .container {
        padding: 0px 40px;
    }
    .hero {
        height: auto;
        padding-top: 5rem;
    }
    .content {
        flex-direction: column;
        gap: 3rem;
        height: auto;
       
    }
    .hero-main {
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
    .hero-text h2 {
        font-size: 1rem;
        font-weight: 500;

    }
    .hero-text h1 {
        font-size: 2.4rem;
        font-weight: 700;
        
    }
    .hero-text p {
        font-size: 0.9rem;
        
    }
    .skills {
        flex-direction: column;
        position: static;
    }
    .skills ul {
        justify-content: center;
        margin-top: 3.3rem;
    }

}

@media (max-width:775px){
    nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left:0;
        width:100%;
        background: #9c97f1;
        z-index: 1;
    }
   
}