* {
    margin: auto;
    padding: auto;
}

body {
    background-color: #FFA4B6;
    color: rgb(30, 113, 165);
    font-family: "Poppins", sans-serif;
}

.left img {
    height: 75px;
    width: 150px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #FFE397;
    font-size: 20px;
    font-weight: 550;
}

nav ul {
    display: flex;
    justify-content: center;
    position: relative;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color:#ef62c5;
    margin: 0 23px;
}

nav ul li a:hover {
    text-decoration: none;
    color:#f893dd;
    font-size: 1.2rem;

}

nav ul li:hover:after {
    width: 130px;
    left: 0;
}

nav ul li:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #f893dd;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

