* {
    margin: auto;
    padding: auto;
}

body {
    background-color: #EDBEE8;
    color:   rgb(20, 140, 215);
    font-family: "Poppins", sans-serif;
   
    
}

.left img {
    height: 75px;
    width: 150px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #FFE397;
    font-size: 20px;
    font-weight: 550;
}

nav ul {
    display: flex;
    justify-content: center;
    position: relative;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color:#ef62c5 ;
    margin: 0 23px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #f893dd;
    font-size: 1.2rem;

}

nav ul li:hover:after {
    width: 130px;
    left: 0;
}

nav ul li:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #f893dd;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
hr {
    border: 2px solid   rgb(20, 140, 215);
    margin: 20px;
    
}
.air {
    height: 200px;
    width: 275px;
    border: 5px solid   rgb(20, 140, 215);
    margin: 30px;
    border-radius: 35px;
}
.air:hover {
    height: 250px;
    width: 280px;
    border: 8px solid  rgb(224, 55, 184);
    margin: 30px;
}
.project1 {
    background-color: azure;
    margin: 30px;
    border-radius: 40px solid;
    border: 5px solid rgb(239, 58, 158);
    border-radius: 40px;
    display: flex;
}
.project1 h1, p {
    position: right;
    margin: 30px;
    color: rgb(20, 140, 215);
}
.projectcontainer {
    display: flex;
    flex-direction: column;
}
.projectcontainer h1 p {
    position: relative;
}
.project2 {
    background-color: azure;
    margin: 30px;
    border-radius: 40px solid;
    border: 5px solid rgb(239, 58, 158);
    border-radius: 40px;
    display: flex;
}
.project2 h1, p {
    position: right;
    margin: 30px;
    color: rgb(20, 140, 215);
}
.amazon {
    height: 200px;
    width: 275px;
    border: 5px solid  rgb(20, 140, 215);
    margin: 30px;
    border-radius: 35px;
}
.amazon:hover {
    height: 250px;
    width: 280px;
    border: 8px solid  rgb(224, 55, 184);
    margin: 30px;
}
.project3 {
    background-color: azure;
    margin: 30px;
    border-radius: 40px solid;
    border: 5px solid rgb(239, 58, 158);
    border-radius: 40px;
    display: flex;
   
}
.project3 h1, p {
    position: right;
    margin: 30px;
    color: rgb(20, 140, 215);
}
div {
    margin-left: 60px;
    margin-right: 60px;
}
.inside {
    height: 200px;
    width: 275px;
    border: 5px solid  rgb(20, 140, 215);
    margin: 30px;
    border-radius: 35px;
}
.inside:hover {
    height: 250px;
    width: 280px;
    border: 8px solid  rgb(224, 55, 184);
    margin: 30px; }